.zoom {
  position: relative;
  display: inline-block;
}

.zoom img {
  transition: transform .2s;
  display: block;
  height: auto;
  border-radius: 50%;
}

.zoom:hover img {
  transform: scale(1.1);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .2s;
}

.zoom:hover .icon {
  opacity: 1;
}

.zoomcard {
  overflow: hidden;
  position: relative;
}
.zoomcard img {
  transition: transform .2s;
}
.zoomcard:hover img {
  transform: scale(1.1) rotate(5deg);
}


.upload-image {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.upload-image:hover .upload-icon {
  opacity: 1;
}


.flex-bottons-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-bottons-container .bottun{
  margin: 15px;
}
