.login-main {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  color: #333;
}

.login-label {
  display: block;
  margin-top: 10px;
  color: #333;
}


input[type="email"],
input[type="password"],

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

button {
  background-color: #512fff;
  color: #fff;
  font-size: medium;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: rgb(11, 107, 185);
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon i {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.input-icon input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
