
<div style="background-color: rgb(20, 58, 136);">
  <div class="container" >
    <h1 style="color: #FFF;" class="d-flex justify-content-center add-padding">Quel diplôme ou compétence recherchez-vous ?</h1>
  </div>
  </div>


  <h3 class="title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Comment ça marche ?</h3>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-search fa-3x icon" aria-hidden="true"></i>
            <h5 class="card-title">Cherchez</h5>
            <p class="card-text">Dites-nous ce qui vous intéresse (domaine, compétence, diplôme ou métier, ville, département, région...).</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-bar-chart fa-3x icon" aria-hidden="true"></i>
            <h5 class="card-title">Comparez</h5>
            <p class="card-text">Découvrez notre large choix de formations et d'e-books, puis utilisez les filtres pour sélectionner ceux qui répondent le mieux à vos attentes.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-shopping-cart fa-3x icon" aria-hidden="true"></i>
            <h5 class="card-title">Participez ou Achetez</h5>
            <p class="card-text">Achetez des e-books ou engagez-vous dans la formation appropriée et le centre de formation vous contactera.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-book fa-3x icon" aria-hidden="true"></i>
            <h5 class="card-title">Apprenez</h5>
            <p class="card-text">N'hésitez pas à démarrer votre formation ou à lire votre e-book pour perfectionner vos compétences professionnelles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- <div class="container">
    <h3 class="title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Comment ça marche ?</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline5">
                <div class="timeline">
                    <div class="timeline-icon"><span class="year"><i class="bi bi-search"></i></span></div>
                    <div class="timeline-content">
                        <h3 class="title">Cherchez</h3>
                        <p class="description">
                          Dites-nous ce qui vous intéresse (domaine, compétence, diplôme ou métier, ville, département, région...).
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year"><i class="bi bi-ui-checks-grid"></i></span></div>
                    <div class="timeline-content">
                        <h3 class="title">Comparez</h3>
                        <p class="description">
                          Découvrez notre large choix de formations et d'e-books, puis utilisez les filtres pour sélectionner ceux qui répondent le mieux à vos attentes.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year"><i class="bi bi-send-fill"></i></span></div>
                    <div class="timeline-content">
                        <h3 class="title">Participez ou Achetez</h3>
                        <p class="description">
                          Achetez des e-books ou engagez-vous dans la formation appropriée et le centre de formation vous contactera.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year"><i class="bi bi-emoji-smile-fill"></i></span></div>
                    <div class="timeline-content">
                        <h3 class="title">Apprenez</h3>
                        <p class="description">
                          N'hésitez pas à démarrer votre formation ou à lire votre e-book pour perfectionner vos compétences professionnelles.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->

  <br>
  <div class="container width" >
  <br>
    <div class="row">
      <div class="col-sm-6">
        <img src="../../../../../assets/img/news-2.jpg" class="img-thumbnail" alt="">
      </div>
      <div class="col-sm-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <br>
        <div class="row text-center">
          <h3>LANGUE</h3>
          <p>Débutant ou confirmé, améliorez votre niveau en anglais, français, italie...<br><a class="lien" >Voir les offres</a></p>
          <hr style="width: 50%; margin: auto;">
        </div>
         <br>
        <div class="row text-center">
          <h3>INFORMATIQUE</h3>
          <p>Devenez expert dans le secteur IT (programmation, réseaux…).<br><a class="lien" >Voir les offres</a></p>
          <hr style="width: 50%; margin: auto;">
        </div>
         <br>
        <div class="row text-center">
          <h3>MANAGEMENT</h3>
          <p>Adopter l’attitude et le comportement du parfait manager.<br><a class="lien" >Voir les offres</a></p>
        </div>
      </div>
      </div>
        <br>
    </div>


  <div>
    <br>

    <h3 class="title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Inscrivez-vous et profitez de tous nos services</h3>

    <main class="page">
      <div class="container2">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="../../../../../assets/img/default-image.jpg">
              <h3>Apprenant</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>Démarrer votre formation ou à lire votre e-book pour perfectionner vos compétences professionnelles.</p>
              <a routerLink="/login/registre/client">Accédez à votre espace -></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <img src="../../../../../assets/img/bag.jpg">
              <h3>Centre</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>Démarrer pour publier votre formation ou votre e-book pour perfectionner vos travaux professionnels.</p>
              <a routerLink="/login/registre/centre">Accédez à votre espace -></a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

    <div class="container width" >
      <br>
        <div class="row">
          <div class="col-sm-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <br>
            <div class="row text-center">
              <h3> PRO COMMERCE</h3>
              <p>Apprenez à diriger une structure commerciale (techniques de vente, comptabilité…).<br><a class="lien" >Voir les offres</a></p>
              <hr style="width: 50%; margin: auto;">
            </div>
             <br>
            <div class="row text-center">
              <h3> COMMUNICATION</h3>
              <p>Découvrez comment mettre en œuvre des projets de communication de marque.<br><a class="lien" >Voir les offres</a></p>
              <hr style="width: 50%; margin: auto;">
            </div>
             <br>
            <div class="row text-center">
              <h3> PETITE ENFANCE</h3>
              <p>Devenez un(e) professionnel(le) de la petite enfance.<br><a class="lien" >Voir les offres</a></p>
            </div>
          </div>
          <div class="col-sm-6">
            <img src="../../../../../assets/img/news-4.jpg" class="img-thumbnail" alt="">
          </div>
          </div>
            <br>
        </div>

