
<main class="page mt-3">
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="../../../../../assets/img/registreOwner.jpg" alt="Client">
          <h3>Client</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Consultez les hôtels, restaurants, maisons d'hôtes et spécialités gastronomiques du nord.</p>
          <a routerLink="/signup/client">Accédez à votre espace -></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="../../../../../assets/img/registreClient.jpg" alt="Propriétaire">
          <h3>Propriétaire</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Ajoutez et gérez vos hôtels, restaurants et maisons d'hôtes et attirez de nouveaux clients.</p>
          <a routerLink="/signup/owner">Accédez à votre espace -></a>
        </div>
      </div>
    </div>
  </div>
</main>

