
<main class="page">
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="../../../../../assets/img/registreClient.jpg">
          <h3>Client</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Démarrer votre formation ou à lire votre e-book pour perfectionner vos compétences professionnelles.</p>
          <a routerLink="/signup/client">Accédez à votre espace -></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="../../../../../assets/img/registreOwner.jpg">
          <h3>Propriétaire</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>Démarrer pour publier votre formation ou votre e-book pour perfectionner vos travaux professionnels.</p>
          <a routerLink="/signup/owner">Accédez à votre espace -></a>
        </div>
      </div>
    </div>
  </div>
</main>

