<div class="registre-main">
<div class="registre-container">
  <div class="cards">
      <div class="card-container">
          <div class="card" onclick="location.href='inscriptionPropriétaire.html'">
              <img class="icon" src="../../../../../assets/img/registreOwner.jpg" alt="Propriétaire">
              <div class="description">Propriétaire</div>
          </div>
          <div class="extra-info">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aut ipsam ducimus perferendis iste, sint laudantium laborum nihil sequi error sapiente labore quia eveniet nostrum, a doloribus enim expedita beatae. <a href="inscriptionPropriétaire.html" style="color: white; text-decoration: underline; font-weight: bold;">s'inscrire</a></p>
          </div>
      </div>
      <div class="card-container">
          <div class="card" onclick="location.href='inscriptionClient.html'">
              <img class="icon" src="../../../../../assets/img/registreClient.jpg" alt="Client">
              <div class="description">Client</div>
          </div>
          <div class="extra-info" style="background-color: #1e75ed; color: #f5ddd0;">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aut ipsam ducimus perferendis iste, sint laudantium laborum nihil sequi error sapiente labore quia eveniet nostrum, a doloribus enim expedita beatae. <a href="inscriptionClient.html" style="color: white; text-decoration: underline; font-weight: bold;">s'inscrire</a></p>
          </div>
      </div>
  </div>
</div>
</div>
