  <div class="pagetitle">
     <h1>Formations</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
           <li class="breadcrumb-item active">Formations</li>
        </ol>

     </nav>
     <div class="form-group">
      <input type="text"  style="width: 300px;" class="form-control" placeholder="Recherche par titre" [(ngModel)]="searchTerm">
    </div>


  </div>

  <section class="section profile">

    <div class="alert alert-primary d-flex align-items-center" role="alert" *ngIf="filter()==''">
      Il n’y a pas de formations
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
      <!-- <div class="col" *ngFor="let item of filter()"> -->
        <div class="col">
        <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" (click)="getformationid(item.id)"> -->
          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" >
          <div class="card h-100 shadow-lg">
            <div class="zoom">
              <!-- <img src="{{imagepath}}{{item.img}}" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;"> -->
              <img src="../../../../../assets/img/product-1.jpg" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;">

            </div>
            <div class="card-body">
              <h5 class="card-title">Hotel titre</h5>
              <!-- <h5 class="card-title">{{item.titre}}</h5> -->
              <!-- <p class="card-text" style="color: black;"> {{item.discription}}</p> -->
            </div>
          </div>
        </button>
      </div>

           <!-- <div class="col" *ngFor="let item of filter()"> -->
            <div class="col">
              <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" (click)="getformationid(item.id)"> -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" >
                <div class="card h-100 shadow-lg">
                  <div class="zoom">
                    <!-- <img src="{{imagepath}}{{item.img}}" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;"> -->
                    <img src="../../../../../assets/img/product-1.jpg" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Hotel titre</h5>
                    <!-- <h5 class="card-title">{{item.titre}}</h5> -->
                    <!-- <p class="card-text" style="color: black;"> {{item.discription}}</p> -->
                  </div>
                </div>
              </button>
            </div>

                 <!-- <div class="col" *ngFor="let item of filter()"> -->
        <div class="col">
          <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" (click)="getformationid(item.id)"> -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" >
            <div class="card h-100 shadow-lg">
              <div class="zoom">
                <!-- <img src="{{imagepath}}{{item.img}}" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;"> -->
                <img src="../../../../../assets/img/product-1.jpg" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;">

              </div>
              <div class="card-body">
                <h5 class="card-title">Hotel titre</h5>
                <!-- <h5 class="card-title">{{item.titre}}</h5> -->
                <!-- <p class="card-text" style="color: black;"> {{item.discription}}</p> -->
              </div>
            </div>
          </button>
        </div>

             <!-- <div class="col" *ngFor="let item of filter()"> -->
              <div class="col">
                <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" (click)="getformationid(item.id)"> -->
                  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" >
                  <div class="card h-100 shadow-lg">
                    <div class="zoom">
                      <!-- <img src="{{imagepath}}{{item.img}}" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;"> -->
                      <img src="../../../../../assets/img/product-1.jpg" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;">

                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Hotel titre</h5>
                      <!-- <h5 class="card-title">{{item.titre}}</h5> -->
                      <!-- <p class="card-text" style="color: black;"> {{item.discription}}</p> -->
                    </div>
                  </div>
                </button>
              </div>

                   <!-- <div class="col" *ngFor="let item of filter()"> -->
        <div class="col">
          <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" (click)="getformationid(item.id)"> -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" >
            <div class="card h-100 shadow-lg">
              <div class="zoom">
                <!-- <img src="{{imagepath}}{{item.img}}" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;"> -->
                <img src="../../../../../assets/img/product-1.jpg" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;">

              </div>
              <div class="card-body">
                <h5 class="card-title">Hotel titre</h5>
                <!-- <h5 class="card-title">{{item.titre}}</h5> -->
                <!-- <p class="card-text" style="color: black;"> {{item.discription}}</p> -->
              </div>
            </div>
          </button>
        </div>


             <!-- <div class="col" *ngFor="let item of filter()"> -->
              <div class="col">
                <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" (click)="getformationid(item.id)"> -->
                  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" >
                  <div class="card h-100 shadow-lg">
                    <div class="zoom">
                      <!-- <img src="{{imagepath}}{{item.img}}" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;"> -->
                      <img src="../../../../../assets/img/product-1.jpg" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;">

                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Hotel titre</h5>
                      <!-- <h5 class="card-title">{{item.titre}}</h5> -->
                      <!-- <p class="card-text" style="color: black;"> {{item.discription}}</p> -->
                    </div>
                  </div>
                </button>
              </div>


                   <!-- <div class="col" *ngFor="let item of filter()"> -->
        <div class="col">
          <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" (click)="getformationid(item.id)"> -->
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-outline-light" >
            <div class="card h-100 shadow-lg">
              <div class="zoom">
                <!-- <img src="{{imagepath}}{{item.img}}" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;"> -->
                <img src="../../../../../assets/img/product-1.jpg" class="card-img-top" alt="..." style="height: 250px; width: 250px; object-fit: cover;">

              </div>
              <div class="card-body">
                <h5 class="card-title">Hotel titre</h5>
                <!-- <h5 class="card-title">{{item.titre}}</h5> -->
                <!-- <p class="card-text" style="color: black;"> {{item.discription}}</p> -->
              </div>
            </div>
          </button>
        </div>




      </div>

     <!-- Modal -->
     <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">hotel.titre </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">

            <div class="col-md-2 col-lg-2" class="row mb-3">
              <img src="../../../../../assets/img/product-2.jpg" alt="Profile">
           </div>

           <div class="row">
            <div class="col-lg-4 col-md-4 label" style="color:#012970;" >participation : </div>
            <div class="col-lg-8 col-md-8">participation.count
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></div>
         </div>
           <div class="row">
              <div class="col-lg-4 col-md-4 label" style="color:#012970;" >Description :</div>
              <div class="col-lg-8 col-md-8" style="word-wrap: break-word">formation.discription</div>
           </div>
           <div class="row" *ngIf="formation.date_debut ">
            <div class="col-lg-4 col-md-4 label"style="color:#012970; " >Date de la debut :</div>
            <div class="col-lg-8 col-md-8">formation.date_debut </div>
         </div>
           <div class="row" *ngIf="formation.date_fin ">
            <div class="col-lg-4 col-md-4 label"style="color:#012970; " >Date de la fin :</div>
            <div class="col-lg-8 col-md-8">formation.date_fin </div>
         </div>
         <div class="row">
          <div class="col-lg-4 col-md-4 label"style="color:#012970; ">Prix :</div>
          <div class="col-lg-8 col-md-8">formation.prix  DT</div>
       </div>
       <div class="row">
        <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  > Heures :</div>
        <div class="col-lg-8 col-md-8">formation.heures h</div>
     </div>
     <div class="row" *ngIf="formation.promotion">
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Promotion :</div>
      <div class="col-lg-8 col-md-8">formation.promotion  %</div>
    </div>

    <div class="row" *ngIf="formation.categorie!='Autre'">
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Domaine :</div>
      <div class="col-lg-8 col-md-8">formation.categorie </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Etat :</div>
      <div class="col-lg-8 col-md-8">formation.etat </div>
    </div>

    <div class="row" *ngIf="formation.diplome">
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Diplome :</div>
      <div class="col-lg-8 col-md-8">formation.diplom </div>
    </div>

    <div class="row" *ngIf="formation.certifiee">
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Certifiee :</div>
      <div class="col-lg-8 col-md-8">formation.certifiee  </div>
    </div>

    <div class="row" >
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Centre :</div>
      <div class="col-lg-8 col-md-8">formation.Centre.name </div>
    </div>

    <div class="row" >
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Localisation :</div>
      <div class="col-lg-8 col-md-8">formation.Cen  </div>
    </div>

    <div class="row" >
      <div class="col-lg-4 col-md-4 label"style="color:#012970;  "  >Télephone :</div>
      <div class="col-lg-8 col-md-8">formation. </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 label" style="color:#012970;  " >Créé à :</div>
      <div class="col-lg-8 col-md-8">formation.createdAt  </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 label" style="color:#012970;  " >Mis à jour à :</div>
      <div class="col-lg-8 col-md-8">formation.updatedAt</div>
    </div>

          </div>
          <div class="modal-footer">
            <button *ngIf="participation.count!=0" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" (click)="sendformationid()">Participants</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendid()">Mettre à jour</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#exampleModal4">Supprimer</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Attention</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        Êtes-vous sûr de vouloir supprimer ce formation ? <br>
        il supprimera également toutes les données qui y sont liées !!
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteformation()">Supprimer</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>


  </section>

