<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between"> <a routerLink="/" class="logo d-flex align-items-center"> <img src="../../../assets/img/logooo.png" alt="">   </a>  <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i> </div>

  <nav class="header-nav ms-auto">
     <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3" *ngIf="user">
           <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img *ngIf="user.image"  src="{{baseURL}}{{user.image}}" alt="Profile" class="rounded-image">
            <img  *ngIf="!user.image" src="../../../assets/img/default-image.jpg" alt="Profile" class="rounded-image">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.firstname| titlecase}}</span> </a>
           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                 <h6>{{user.firstname | titlecase}}</h6>
                 <span>{{user.role | titlecase}}</span>
              </li>
              <li>
                 <hr class="dropdown-divider">
              </li>
              <li *ngIf="isAdmin" > <button class="dropdown-item d-flex align-items-center"> <a class="dropdown-item d-flex align-items-center" routerLink="/admin" > <i class="bi bi-grid"></i> <span>Tableau de bord</span> </a> </button></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li> <button class="dropdown-item d-flex align-items-center"> <a class="dropdown-item d-flex align-items-center" (click)="navigateprofile()"> <i class="bi bi-person"></i> <span>Mon profil</span> </a> </button></li>
              <li>
                 <hr class="dropdown-divider">
              </li>
              <li> <button class="dropdown-item d-flex align-items-center"> <a class="dropdown-item d-flex align-items-center" (click)="logout()" > <i class="bi bi-box-arrow-right"></i> <span>Se Déconnecter</span> </a></button></li>
           </ul>
        </li>

        <li class="nav-item  pe-3" *ngIf="!user">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" routerLink="/signin" > <img  src="../../../assets/img/default-image.jpg" alt="Profile" class="rounded-circle">  <span class="d-none d-md-block  ps-2">Connexion</span> </a>
       </li>


     </ul>
  </nav>
</header>

  <main class="serch-main">
    <router-outlet></router-outlet>
  </main>

<aside class="side" [ngClass]="{ 'show': isSidebarOpen }">
  <ul class="sidebar-nav" >
    <li class="nav-item"> <a class="nav-link collapsed" routerLink="/"> <i class="bi bi-house-door"></i>  <span>Accueil</span> </a></li>
    <li class="nav-item" style="cursor: pointer;" *ngIf="user" (click)="navigateprofile()"> <a class="nav-link collapsed "  > <i class="bi bi-person"></i> <span>Profil</span> </a></li>
    <li class="nav-item" *ngIf="!user"> <a class="nav-link collapsed" routerLink="/signin"> <i class="bi bi-person"></i> <span>Connexion</span> </a></li>
    <li class="nav-item"> <a class="nav-link collapsed " routerLink="/hotels"> <i class="bi bi-search"></i><span>Recherche</span> </a></li>
    <li class="nav-item"> <a class="nav-link collapsed" routerLink="/about"> <i class="bi bi-card-text"></i><span>à propos de nous</span> </a></li>
  </ul>
</aside>

<footer  class="home-footer">
  <div class="copyright"> &copy; Copyright <strong><span>Mandra</span></strong>. All Rights Reserved</div>
</footer>

