.side {
  position: fixed;
  top: 60px;
  left: -300px;
  bottom: 0;
  width: 300px;
  z-index: 996;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  transition: left 0.3s ease-in-out;
}

.side.show {
  left: 0;
}

@media (max-width: 1199px) {
  .side {
    left: -300px;
  }
}
.home-footer{
  text-align: center;
  width: 100%;
  padding: 20px;

}
/* /////// */

.rounded-image{
  border-radius: 50%;
  border: 2px solid white;
}


.serch-main{
  margin: 120px 5% 60px 5%;
}
