<div class="pagetitle">
  <h1>Clients</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin">Admin</a></li>
      <li class="breadcrumb-item"><a>Clients</a></li>
      <li class="breadcrumb-item active"><a>Consulter la liste désactivé</a></li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <h5 class="card-title">Tous les Clients désactivé</h5>
            <!-- <div class="form-group">
                  <input type="text"  style="width: 300px;" class="form-control" placeholder="Recherche par nom ou prenom" [(ngModel)]="searchTerm">
                </div> -->
            <br>
            <div class="alert alert-primary" *ngIf="!clients || clients.length === 0"> Aucun Clients ne s'est inscrit !</div>
            <div *ngIf="clients && clients.length > 0">
            <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Téléphone</th>
                  <th scope="col">Email</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of clients;index as i">
                  <th scope="row">{{i + (page * size) + 1}}</th>
                  <td>{{item.firstname | titlecase}}</td>
                  <td>{{item.lastname | titlecase}}</td>
                  <td>{{item.phoneNumber }}</td>
                  <td>{{item.email }}</td>
                  <td>
                    <img *ngIf="item.image" src="{{baseURL}}{{item.image}}" alt="Owner Image" class="rounded-image ">
                    <img *ngIf="!item.image" src="../../../../../assets/img/default-image.jpg" alt="Owner Image" class="rounded-image ">
                  </td>

                  <td>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                      </button>
                      <ul class="dropdown-menu">
                        <li> <button class="dropdown-item" (click)="ViewDetails(item.id)">Afficher détails</button></li>
                        <li> <button class="dropdown-item" (click)="Update(item.id)">Mettre à jour </button></li>
                        <li> <button class="dropdown-item" style="color: rgb(35, 116, 247);"
                           (click)="changeToActive(item.id)">Passer à actif </button></li>
                        <li> <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            (click)="getClientid(item.id)"><span style="color: red;">Supprimer</span></button>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>

            <div class="pagination">
              <button class="btn btn-primary" (click)="onPageChange(page - 1)" [disabled]="page === 0">Previous</button>
              <span class="btn ">Page {{ page + 1 }} of {{ totalPages }}</span>
              <button class="btn btn-primary" (click)="onPageChange(page + 1)" [disabled]="page === totalPages - 1">Next</button>
            </div>
          </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer ce client ? <br>
        il supprimera également toutes les données qui y sont liées !!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteClient()">Supprimer</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

      </div>
    </div>
  </div>
</div>
