<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/" class="logo d-flex align-items-center">
      <img src="../../../assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">Admin</span>
    </a>
    <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img *ngIf="user.image" src="{{baseURL}}{{user?.image}}" alt="Profile" class="rounded-image">
          <img *ngIf="!user.image" src="../../../assets/img/default-image.jpg" alt="Profile" class="rounded-image">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{user?.firstname | titlecase}}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{user?.firstname | titlecase}}</h6>
            <span>{{user?.role | titlecase}}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li> <button class="dropdown-item d-flex align-items-center"> <a class="dropdown-item d-flex align-items-center" routerLink="/admin" > <i class="bi bi-grid"></i> <span>Tableau de bord</span> </a> </button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center">
              <a class="dropdown-item d-flex align-items-center" routerLink="/admin/profile">
                <i class="bi bi-person"></i>
                <span>Mon profil</span>
              </a>
            </button>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <button class="dropdown-item d-flex align-items-center">
              <a class="dropdown-item d-flex align-items-center" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Se Déconnecter</span>
              </a>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<main id="main" class="main">
  <router-outlet></router-outlet>
</main>

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item"> <a class="nav-link collapsed" routerLink="/"> <i class="bi bi-house-door"></i>
        <span>Accueil</span> </a></li>
    <li class="nav-item"> <a class="nav-link collapsed " routerLink="/admin/dashboard"> <i class="bi bi-grid"></i>
        <span>Tableau de bord</span> </a></li>
    <li class="nav-item"> <a class="nav-link collapsed" routerLink="/admin/profile"> <i class="bi bi-person"></i>
        <span>Profil</span> </a></li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i
          class="bi bi-people"></i><span>Propriétaires</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li> <a routerLink="/admin/owners/active"> <i class="bi bi-circle"></i><span>Consulter la liste active</span> </a></li>
        <li> <a routerLink="/admin/owners/disabled"> <i class="bi bi-circle"></i><span>Consulter la liste désactivé</span> </a></li>
        <li> <a routerLink="/admin/owners/add"> <i class="bi bi-circle"></i><span>Ajouter un propriétaire</span> </a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"> <i
          class="bi bi-people"></i><span>Clients</span><i class="bi bi-chevron-down ms-auto"></i> </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li> <a routerLink="/admin/clients/active"> <i class="bi bi-circle"></i><span>Consulter la liste active</span> </a></li>
        <li> <a routerLink="/admin/clients/disabled"> <i class="bi bi-circle"></i><span>Consulter la liste désactivé</span> </a></li>
        <li> <a routerLink="/admin/clients/add"> <i class="bi bi-circle"></i><span>Ajouter un Client</span> </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#Gastronomiques-nav" data-bs-toggle="collapse" href="#"> <i
          class="bi bi-bookmark-check"></i><span>Gastronomiques specialties</span><i class="bi bi-chevron-down ms-auto"></i> </a>
      <ul id="Gastronomiques-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li> <a routerLink="/admin/gastronomic-specialties"> <i class="bi bi-circle"></i><span>Consulter la liste</span> </a></li>
        <li> <a routerLink="/admin/gastronomic-specialties/ajoute"> <i class="bi bi-circle"></i><span>Ajouter</span> </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#femmes-nav" data-bs-toggle="collapse" href="#"> <i
          class="bi bi-bookmark-check"></i><span>Femmes de spécialité</span><i class="bi bi-chevron-down ms-auto"></i> </a>
      <ul id="femmes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li> <a routerLink="/admin/specialty-women"> <i class="bi bi-circle"></i><span>Consulter la liste</span> </a></li>
        <li> <a routerLink="/admin/specialty-women/ajoute"> <i class="bi bi-circle"></i><span>Ajouter</span> </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse"
        routerLink="/admin/hotels"> <i class="bi bi-building"></i><span>Hôtels</span> </a>
    </li>
        <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" routerLink="/admin/restaurants"> <i
          class="bi bi-building"></i><span>Restaurants</span> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" routerLink="/admin/guast-house"> <i
          class="bi bi-building"></i><span>Maisons d'hôtes</span> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" routerLink="/admin/ebook"> <i
          class="bi bi-person-rolodex"></i><span>Contacts</span> </a>
    </li>
  </ul>
</aside>

<footer id="footer" class="footer">
  <div class="copyright"> &copy; Copyright <strong><span>Mandra</span></strong>. All Rights Reserved</div>
</footer>
