
  <div class="pagetitle">
    <h1>Tableau de bord</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Tableau de bord</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Propriétaires</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-people"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.Owners}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Clients</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-people"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.Clients}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card customers-card">
          <div class="card-body">
            <h5 class="card-title">Gastronomiques</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-bookmark-check"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.Gastronomics}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card customers-card">
          <div class="card-body">
            <h5 class="card-title">Femmes de spécialité</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-bookmark-check"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.SpecialtyWomens}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">Hôtels</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-building"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.Hotels}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">Restaurants</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-building"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.Restaurants}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card revenue-card">
          <div class="card-body">
            <h5 class="card-title">Maisons d'hôtes</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-building"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.GuestHouses}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Contacts</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                  class="bi bi-person-rolodex"></i></div>
              <div class="ps-3">
                <h6>{{entitiesCounts.Contacts}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
