<br>
<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-8 d-flex flex-column align-items-center justify-content-center">
            <!-- <div class="d-flex justify-content-center py-8"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="../../../../../assets/admin/img/logo.png" alt="">  </a></div> -->
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">

                  <h5 class="card-title text-center pb-0 fs-4">Créer un compte propriétaire</h5>
                  
                  <p class="text-center small">Entrez vos données personnelles pour créer un compte</p>
                </div>
                <form class="row g-3 needs-validation" #f="ngForm" (ngSubmit)="registre(f)">


                  <div class="col-sm-6">
                    <label for="firstname" class="form-label">Nom</label> <input type="text"
                      name="firstname" #firstname="ngModel" ngModel class="form-control" required minlength="2"
                      maxlength="15" pattern="[a-zA-Z]{2,15}"
                      [ngClass]="{'is-invalid': firstname.invalid && firstname.touched, 'is-valid': firstname.valid && firstname.touched}">
                    <div class="invalid-feedback" *ngIf="firstname.touched && firstname.errors">
                      <div *ngIf="firstname.errors?.['required']">le nom du manager est requis!</div>
                      <div *ngIf="firstname.errors?.['minlength']">le nom du manager doit compter au moins 2
                        caractères !</div>
                      <div *ngIf="firstname.errors?.['maxlength']">le nom du manager ne doit pas dépasser 20
                        caractères !</div>
                      <div *ngIf="firstname.errors?.['pattern']">le nom du manager ne doit contenir que des caractères
                        alphabétiques !</div>

                    </div>
                  </div>


                  <div class="col-sm-6">
                    <label for="lastname" class="form-label">Prénom</label> <input type="text"
                      name="lastname" #lastname="ngModel" ngModel class="form-control" required
                      minlength="2" maxlength="15" pattern="[a-zA-Z]{2,15}"
                      [ngClass]="{'is-invalid': lastname.invalid && lastname.touched, 'is-valid': lastname.valid && lastname.touched}">
                    <div class="invalid-feedback" *ngIf="lastname.touched && lastname.errors">
                      <div *ngIf="lastname.errors?.['required']">le prenom du manager est requis!</div>
                      <div *ngIf="lastname.errors?.['minlength']">le prenom du manager doit compter au moins 2
                        caractères !</div>
                      <div *ngIf="lastname.errors?.['maxlength']">le prenom du manager ne doit pas dépasser 20
                        caractères !</div>
                      <div *ngIf="lastname.errors?.['pattern']">le prenom du manager ne doit contenir que des
                        caractères alphabétiques !</div>

                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label for="yourUsername" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input type="email" name="email" #email="ngModel" ngModel class="form-control"
                        [ngClass]="{'is-invalid': email.invalid && email.touched, 'is-valid': email.valid && email.touched}"
                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="nom@domaine.com">
                      <div class="invalid-feedback" *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors?.['required']">Veuillez entrer votre adresse email!</div>
                        <div *ngIf="email.errors?.['email']">Veuillez entrer une adresse email valide!</div>
                        <div *ngIf="email.errors?.['pattern']">L'adresse email doit être sous la forme nom@domaine.com!
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label for="phoneNumber" class="form-label">Téléphone</label>
                    <input type="tel" name="phoneNumber" #phoneNumber="ngModel" ngModel class="form-control"
                      id="yourName"
                      [ngClass]="{'is-invalid': phoneNumber.invalid && phoneNumber.touched, 'is-valid': phoneNumber.valid && phoneNumber.touched}"
                      required minlength="5" pattern="[0-9]{5,15}" maxlength="15">
                    <div class="invalid-feedback" *ngIf="phoneNumber.touched &&phoneNumber.errors">
                      <div *ngIf="phoneNumber.errors?.['required']">Veuillez entrer votre numéro de téléphone!</div>
                      <div *ngIf="phoneNumber.errors?.['minlength']">le Téléphone du manager doit compter au moins 5
                        chiffres !</div>
                      <div *ngIf="phoneNumber.errors?.['pattern']">Veuillez entrer un nombre entier valide!</div>
                    </div>
                  </div>


                  <div class="col-sm-4">
                    <label for="nbOfHotels" class="form-label">Nombre d’hôtels que vous possédez</label>
                    <input type="number" name="nbOfHotels" #nbOfHotels="ngModel" ngModel class="form-control"
                           id="nbOfHotels"
                           [ngClass]="{'is-invalid': nbOfHotels.invalid && nbOfHotels.touched, 'is-valid': nbOfHotels.valid && nbOfHotels.touched}"
                           required
                           min="0" max="10">
                    <div class="invalid-feedback" *ngIf="nbOfHotels.touched && nbOfHotels.errors">
                      <div *ngIf="nbOfHotels.errors?.['required']">Veuillez entrer le nombre d'hôtels!</div>
                      <div *ngIf="nbOfHotels.errors?.['min']">Le nombre d'hôtels doit être au moins de 0!</div>
                      <div *ngIf="nbOfHotels.errors?.['max']">Le nombre d'hôtels ne peut pas dépasser 10!</div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <label for="nbOfRestaurant" class="form-label">Nombre des Restaurants que vous possédez</label>
                    <input type="number" name="nbOfRestaurant" #nbOfRestaurant="ngModel" ngModel class="form-control"
                           id="nbOfRestaurant"
                           [ngClass]="{'is-invalid': nbOfRestaurant.invalid && nbOfRestaurant.touched, 'is-valid': nbOfRestaurant.valid && nbOfRestaurant.touched}"
                           required
                           min="0" max="10">
                    <div class="invalid-feedback" *ngIf="nbOfRestaurant.touched && nbOfRestaurant.errors">
                      <div *ngIf="nbOfRestaurant.errors?.['required']">Veuillez entrer le nombre de restaurants!</div>
                      <div *ngIf="nbOfRestaurant.errors?.['min']">Le nombre de restaurants doit être au moins de 0!</div>
                      <div *ngIf="nbOfRestaurant.errors?.['max']">Le nombre de restaurants ne peut pas dépasser 10!</div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <label for="nbOfGuesthouses" class="form-label">Nombre des maisons d'hôtes que vous possédez</label>
                    <input type="number" name="nbOfGuesthouses" #nbOfGuesthouses="ngModel" ngModel class="form-control"
                           id="nbOfGuesthouses"
                           [ngClass]="{'is-invalid': nbOfGuesthouses.invalid && nbOfGuesthouses.touched, 'is-valid': nbOfGuesthouses.valid && nbOfGuesthouses.touched}"
                           required
                           min="0" max="10">
                    <div class="invalid-feedback" *ngIf="nbOfGuesthouses.touched && nbOfGuesthouses.errors">
                      <div *ngIf="nbOfGuesthouses.errors?.['required']">Veuillez entrer le nombre de maisons d'hôtes!</div>
                      <div *ngIf="nbOfGuesthouses.errors?.['min']">Le nombre de maisons d'hôtes doit être au moins de 0!</div>
                      <div *ngIf="nbOfGuesthouses.errors?.['max']">Le nombre de maisons d'hôtes ne peut pas dépasser 10!</div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label for="yourPassword" class="form-label">Mot de passe</label>
                    <input type="password" name="password" #password="ngModel" ngModel class="form-control"
                      id="yourPassword"
                      [ngClass]="{'is-invalid': password.invalid && password.touched, 'is-valid': password.valid && password.touched}"
                      required minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                    <div class="invalid-feedback" *ngIf="password.touched && password.errors">
                      <div *ngIf="password.errors?.['required']">Veuillez entrer votre mot de passe !</div>
                      <div *ngIf="password.errors?.['minlength']">Votre mot de passe doit compter au moins 8 caractères
                        !</div>
                      <div *ngIf="password.errors?.['pattern']">Votre mot de passe doit contenir au moins une lettre, un
                        chiffre et un caractère spécial !</div>
                    </div>
                  </div>


                  <div class="col-12">
                    <button [disabled]="f.invalid" class="btn btn-primary w-100" type="submit">Suivants</button>
                  </div>
                  <div class="col-12">
                    <div class="alert alert-danger" *ngIf="errmessage">{{errmessage}}</div>
                  </div>
                  <div class="col-12">

                    <p class="small mb-0">Vous avez déjà un compte ?<a routerLink="/login"> Se Connecter</a></p>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

        <!-- upload cin image Modal start here -->
<div class="custom-modal" [class.show]="showModal" id="uploadCinImage">
  <div class="custom-modal-dialog">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h2 class="custom-modal-title" id="staticBackdropLabel">Télécharger votre image de cin</h2>
      </div>
      <div class="custom-modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Choisir un image</label>
          <input class="form-control"  (change)="selectImage($event)" type="file" id="formFile">
          <br>
            <div *ngIf="uploadCinImageErrur" class="alert alert-danger" role="alert">
             {{uploadCinImageErrur}}
            </div>
        </div>
      </div>
      <div class="custom-modal-footer" *ngIf="file">
        <button type="button" class="custom-btn custom-btn-primary" (click)="updateCinImage()">Suivant</button>
      </div>
    </div>
  </div>
</div>
<!-- upload cin image Modal end here -->


<!-- upload proof file Modal start here -->
<div class="custom-modal" [class.show]="showPoofModal" id="uploadProofFile">
  <div class="custom-modal-dialog">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h2 class="custom-modal-title" id="staticBackdropLabel">Télécharger votre preuve</h2>
      </div>
      <div class="custom-modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Choisir un PDF contient tous les documents nécessaires</label>
          <input class="form-control"  (change)="selectPDF($event)" type="file" id="formFile">
          <br>
            <div *ngIf="uploadProofErrur" class="alert alert-danger" role="alert">
             {{uploadProofErrur}}
            </div>
        </div>
      </div>
      <div class="custom-modal-footer" *ngIf="file">
        <button type="button" class="custom-btn custom-btn-primary" (click)="updateProof()">Registre</button>
      </div>
    </div>
  </div>
</div>
<!-- upload cin image Modal end here -->

    </section>
  </div>

</main>
